---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';


import image1 from '../assets/homeImage1.jpg';
import image2 from '../assets/homeImage2.jpg';
import image3 from '../assets/homeImage3.jpg';
import image4 from '../assets/homeImage4.jpg';


const fillerText = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut libero aliquam officiis at harum ab.";

import { Image } from 'astro:assets';


---

<Layout title="Home">
	<div>
		
		<section style="height: 93vh;" class="bg-gray-100 grid grid-cols-2 justify-center  ">
			<div class="typer-container flex flex-col justify-center my-10 ml-32 mr-20">
				<h1 class="typed text-5xl py-5 text-slate-700 font-bold ">We fight for you.</h1>
				<p class="text-neutral-600">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum fuga sunt, deleniti ducimus atque explicabo minima. Dicta aut recusandae veniam beatae voluptate reiciendis aspernatur eos unde molestiae nobis, minima ullam.</p>
				<button class="bg-red-500 text-white w-32 py-2 rounded-sm mt-5 smooth-btn ">Contact Us</button>
			</div>
			<div>
				
			</div>
		</section>

		<section class="bg-slate-800 grid grid-cols-3 justify-center">
			<div class="bg-slate-700 col-span-2"></div>
			<div class="text-zinc-200 my-24 mx-auto w-96">
				<h1 class="text-3xl font-bold border-l-4 border-red-500 pl-2">Random text.</h1>
				<p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ipsa earum blanditiis voluptas quos distinctio debitis ullam atque sit nobis. Ipsa, eius ut labore nihil cumque eaque qui nemo accusantium.</p><br>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque veritatis aut deserunt. Quam ratione consequuntur autem? Quis doloribus at eius aut deleniti inventore iure laboriosam.</p><br>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quo consectetur molestiae voluptatibus numquam alias. Facilis eveniet quibusdam, accusamus totam numquam sint rem placeat rerum quos excepturi nesciunt, quae hic maiores velit!</p>
			</div>
		</section>

		<section class="bg-gray-200">
			<div class="text-center pt-20 pb-12">
				<h3 class="text-2xl text-slate-700 font-bold ">Take your Pick</h3>
				<p class="text-slate-600 mt-3">Lorem ipsum dolor sit amet consectetur.</p>
			</div>
			<div class="grid grid-cols-3 gap-14 justify-between mx-auto pb-32 w-1280">

				<Card 
					href={image1}
					title='Card 1'
					body={fillerText}
				/>
				<Card
					href={image2}
					title='Card 2'
					body={fillerText}
				/>
				<Card 
					href={image3}
					title='Card 3'
					body={fillerText}
				/>

			</div>
		</section>

		

		<section class="bg-white">
			<div class="grid grid-cols-3 w-1280 mx-auto py-48 ">
				<h2 class="text-3xl font-bold col-span-3 text-slate-800 mb-5 border-l-4 border-red-500 pl-2">About Us</h2>
				<div class="col-span-2 py-5 pr-10 text-slate-700 bg-zinc-200 p-5 rounded-sm shadow-sm">
					<p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eos dolorem iste reprehenderit reiciendis veniam explicabo. Nemo laudantium corrupti pariatur eaque incidunt temporibus libero ratione consequuntur aliquam magnam repellat, enim soluta voluptas ipsam blanditiis debitis aperiam ducimus!</p><br>
					<p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque dolor ex laboriosam. Temporibus quia sint quam illum dignissimos itaque ab, aliquid placeat nostrum repellat dicta optio eius atque illo doloremque accusamus officia eveniet perferendis praesentium, amet dolorem? Doloremque, sint veniam.</p>
					<a href="/about"><button class="bg-red-500 text-white py-2 rounded-sm mt-5 w-56 smooth-btn">Click here for more!</button></a>
				</div>
				<div class="flex justify-center">
					<Image loading='lazy' src={image4} quality={"low"} format="jpeg" class="object-cover h-80 mx-8 rounded-sm w-full shadow-md" alt=''/>
				</div>
			</div>
		</section>
		


		<section class="bg-slate-800 grid grid-cols-3 justify-center">
			<div class="text-zinc-300 my-24 mx-auto  w-380">
				<h1 class="text-3xl text-zinc-200 font-bold border-l-4 border-red-500 pl-2">Random text.</h1>
				<p class="mt-3 break-all">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ipsa earum blanditiis voluptas quos distinctio debitis ullam atque sit nobis. Ipsa, eius ut labore nihil cumque eaque qui nemo accusantium.</p><br>
				<p class="break-all	">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque veritatis aut deserunt. Quam ratione consequuntur autem? Quis doloribus at eius aut deleniti inventore iure laboriosam.</p><br>
			</div>
			<div class="bg-slate-700 py-20 col-span-2 py-auto flex content-center flex-col justify-center">
				<h2 class="w-760 mx-auto text-gray-200 text-3xl font-bold border-b-4 border-red-500 pb-2 pl-2 mb-5">Contact Form</h2>
				<form class="grid grid-cols-2 gap-5 mx-auto w-760 content-center" action="">
					<input class="px-5 py-2 bg-slate-600 text-gray-200 border border-gray-500 rounded-sm" type="text" name="" id="" placeholder="Name">
					<input class="px-5 py-2 bg-slate-600 text-gray-200 border border-gray-500 rounded-sm" type="text" name="" id="" placeholder="Phone">
					<input class="px-5 py-2 bg-slate-600 text-gray-200 border border-gray-500 rounded-sm" type="email" name="" id="" placeholder="Email">
					<input class="px-5 py-2 bg-slate-600 text-gray-200 border border-gray-500 rounded-sm" type="text" name="" id="" placeholder="Subject">
					<textarea class="col-span-2 px-5 py-2 bg-slate-600 text-gray-200 border border-gray-500 rounded-sm" name="" id="" cols="30" rows="10" placeholder="Description"></textarea>

					<button class="bg-red-500 text-white py-2 rounded-sm mt-5 w-32 hover:bg-red-600 my-transition shadow-sm">Submit</button>
				</form>
			</div>
		</section>


	</div>

</Layout>

	
